<div id="box">
<p id="descr">Button Toggle Appearance</p>
<br>
<p>
    Default Appearance: 
    <mat-button-toggle-group name="FontStyle">
        <mat-button-toggle value="bold">Bold</mat-button-toggle>
        <mat-button-toggle value="italic">Italic</mat-button-toggle>
        <mat-button-toggle value="underline">Underline</mat-button-toggle>
    </mat-button-toggle-group>
</p>

<p>
    Legacy Appearance: 
    <mat-button-toggle-group appearance="legacy" name="FontStyle">
        <mat-button-toggle value="bold">Bold</mat-button-toggle>
        <mat-button-toggle value="italic">Italic</mat-button-toggle>
        <mat-button-toggle value="underline">Underline</mat-button-toggle>
    </mat-button-toggle-group>
</p>
</div>

<div id="box">
    <p id="descr">Exclusive Selection</p>
    <mat-button-toggle-group #group="matButtonToggleGroup">
        <mat-button-toggle value="left" >
          <mat-icon>format_align_left</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="center">
          <mat-icon>format_align_center</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="right" >
          <mat-icon>format_align_right</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="justify" disabled>
          <mat-icon>format_align_justify</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
      <div class="example-selected-value">Selected value: {{group.value}}</div>

    
</div>